<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>289014446186-8p04r4gljvtu6f3l8qjr0dnq7se33hui.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.289014446186-8p04r4gljvtu6f3l8qjr0dnq7se33hui</string>
	<key>API_KEY</key>
	<string>AIzaSyBSGpa9bOC4dvwX7ObmQzzSDynyZarmz5w</string>
	<key>GCM_SENDER_ID</key>
	<string>289014446186</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eccommerce</string>
	<key>PROJECT_ID</key>
	<string>e-commerceapp-530ea</string>
	<key>STORAGE_BUCKET</key>
	<string>e-commerceapp-530ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:289014446186:ios:d9fc589ec5acdd41133213</string>
</dict>
</plist>